@font-face {
  font-family: "Seoul Namsan";
  src: url("./SeoulNamsanM.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Seoul Namsan";
  src: url("./SeoulNamsanB.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Seoul Namsan";
  src: url("./SeoulNamsanL.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Seoul Namsan";
  src: url("./SeoulNamsanEB.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Seoul Namsan";
  src: url("./SeoulNamsanvert.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
