@font-face {
  font-family: "Seoul Namsan";
  src: url("./SeoulNamsanM.ttf") format("Truetype"), url("./SeoulNamsanM.woff2") format("woff2"), url("./SeoulNamsanM.woff") format("woff");
}
@font-face {
  font-family: "Seoul Namsan";
  src: url("./SeoulNamsanB.ttf") format("Truetype"), url("./SeoulNamsanB.woff2") format("woff2"), url("./SeoulNamsanB.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Seoul Namsan";
  src: url("./SeoulNamsanL.ttf") format("Truetype"), url("./SeoulNamsanL.woff2") format("woff2"), url("./SeoulNamsanL.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Seoul Namsan";
  src: url("./SeoulNamsanEB.ttf") format("Truetype"), url("./SeoulNamsanEB.woff2") format("woff2"), url("./SeoulNamsanEB.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "Seoul Hangang";
  src: url("./SeoulHangangL.ttf") format("Truetype");
  font-weight: 300;
}

/* Other Fonts */
@font-face {
  font-family: "Black Han Sans";
  src: url("./Black_Han_Sans/BlackHanSans-Regular.ttf") format("Truetype");
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./IBM_Plex_Sans_KR/IBMPlexSansKR-Regular.ttf") format("Truetype");
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.ttf") format("Truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Jua";
  src: url("./Jua/Jua-Regular.ttf") format("Truetype");
}

@font-face {
  font-family: "Kirang Haerang";
  src: url("./Kirang_Haerang/KirangHaerang-Regular.ttf") format("Truetype");
}

@font-face {
  font-family: "Nanum Pen Script";
  src: url("./Nanum_Pen_Script/NanumPenScript-Regular.ttf") format("Truetype");
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("./Noto_Sans_KR/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("./Noto_Sans_KR/NotoSansKR-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Noto Serif KR";
  src: url("./Noto_Serif_KR/NotoSerifKR-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Noto Serif KR";
  src: url("./Noto_Serif_KR/NotoSerifKR-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "East Sea Dokdo";
  src: url("./East_Sea_Dokdo/EastSeaDokdo-Regular.ttf") format("Truetype");
}

@font-face {
  font-family: "Gaegu";
  src: url("./Gaegu/Gaegu-Bold.ttf") format("Truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Gaegu";
  src: url("./Gaegu/Gaegu-Regular.ttf") format("Truetype");
}

@font-face {
  font-family: "Gamja Flower";
  src: url("./Gamja_Flower/GamjaFlower-Regular.ttf") format("Truetype");
}

@font-face {
  font-family: "Single Day";
  src: url("./Single_Day/SingleDay-Regular.ttf") format("Truetype");
}

@font-face {
  font-family: "Stylish";
  src: url("./Stylish/Stylish-Regular.ttf") format("Truetype");
}

@font-face {
  font-family: "Nanum Gothic";
  src: url("./Nanum_Gothic/NanumGothic-Regular.ttf") format("Truetype");
}

@font-face {
  font-family: "Nanum Gothic";
  src: url("./Nanum_Gothic/NanumGothic-Bold.ttf") format("Truetype");
  font-weight: bold;
}
